@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: "Poppins";
}

.home .bloco1 .bloco3 {
    padding: 0px 80px;
}

/* CABEÇALHO */
.nav {   
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 100%;
    z-index: 10;
}

.nav_titulo {
    font-family: "Belanosima";
    font-size: 40px;
    margin: 0;
}

.nav_items {
    display: flex;
    gap: 40px;
}

.nav_item {
    margin: 0px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.botao_login {
    padding: 10px 30px;
    border-radius: 40px;
    background-color: teal;
    color: aliceblue;
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.botao_login:hover {
    background-color: rgb(3, 91, 91);
    transform: scale(1.1);
}

.icone_usuario {
    font-size: 15px;
}
/* FIM DO CABEÇALHO */
/* BANNER1 HOME */
.banner{
    display: flex;
    flex-direction: row;
    height: 600px;
    width: 100%;
    background-color: #008080;
    align-items: center;
}

.imagem_banner{
    width: 50%;
    height: 100%;
    background-image: url('../assets/imgs/abstract-blur-supermarket-department-store.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50% 0% 00% 50%;
}

.banner .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 80px;
    height: 400px;
    width: 60%;
}

.banner .container h1{
    font: 400 52px 'Belanosima', sans-serif;
    color: white;
    margin-bottom: 20px;
}

.banner .container p{
    font: 400 20px 'Poppins', sans-serif;
    color: rgb(232, 231, 231);
}

/* FIM DO BANNER */
/* ESTRATÉGIA */
.bloco1 {
    display: flex;
    flex-direction: row;
    padding: 80px 80px;
    justify-content: space-between;

}
.bloco1 img {
    border-radius: 20px;
}

.titulo_principal {
    font-size: 40px;
}

.paragrafo_principal {
    font-size: 20px;
    margin-top: 35px;
    width: 80%;
}

.botao_titulo {
    border-style: none;
    padding: 20px 40px;
    border-radius: 50px;
    margin-top: 40px;
    background-color: teal;
    color: aliceblue;
    font-size: 20px; transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.botao_titulo:hover {
    background-color: rgb(3, 91, 91);
    transform: scale(1.1);
}

.corpo_items {
    width: 50%;
}

.imagem_japones {
    height: 100%;
}
/* FIM ESTRATÉGIA */
/* FRASE */
.separacao {
    font: 400 20px 'Poppins', sans-serif;
    background-color: #008080;
    color: rgb(210, 206, 206);
    font-style: italic;
    text-align: center;
    padding: 50px 0px;
}
/* FIM DA FRASE */
/* TRANFORME DADOS EM AÇÃO */
.bloco4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    margin: 30px 80px;
}
.bloco4 img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.bloco4 .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #008080;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    width: 250px;
    height: 400px;
}
.bloco4 .box:hover{
    background-color: #008080;
    transform: scale(1.05);
    transition: all 0.5s;

}
.bloco4 .boxes .box img{
    width: 80px;
    height: 80px;
    border-radius: 20px;
}
.bloco4 .boxes .box h4{
    font: 500 20px 'Belanosima', sans-serif;
    margin: 20px;
    color: white;
    text-align: center;
}
.bloco4 .boxes .box p{
    font: 400 14px 'Poppins', sans-serif;
    margin-bottom: 20px;
    font-weight: 400;
    color: rgb(232, 231, 231);
    text-align: center;
}
.bloco4 .boxes{
    display: flex;
    flex-direction: row;

}
/* FIM DE TRANFORME DADOS EM AÇÃO */
/* AVALIAÇÕES */
.bloco2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 128, 128);
}

.quadrado {
    background-color: aliceblue;
    width: 300px;
    height: 300px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: solid 2px gray;
    padding: 20px;
}

.imagem-avaliacao {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    background-size: cover;
}

.img-nome {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.img1 {
    background-image: url(../assets/imgs/homem1.jpg);   
}

.img2 {
    background-image: url(../assets/imgs/mulher1.jpg);   
}

.img3 {
    background-image: url(../assets/imgs/mulher2.jpg);   
}

.img4 {
    background-image: url(../assets/imgs/homem2.jpg);   
}

.quad1 {
    background-image: url(imgs/placa-mae.jpg);
}

.quad2 {
    background-image: url(imgs/corredor-mercado.jpg);
}

.quad3 {
    background-image: url(imgs/mulher-mercado.jpg);
}
/* FIM DA AVALIAÇÕES */
/* BANNER COMO FUNCIONA */
.bloco5{
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 100px 80px;
    margin: auto;
}
.bloco5 h1{
    font: 400 60px 'Belanosima', sans-serif;
    color: #008080;
}

.bloco5 .diagrama{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;  
}

.bloco5 img{
    width: auto;
    height: 740px;
    border-radius: 20px;
}

.bloco5 .diagrama img{
    height: 600px;
}
/* FIM DE COMO FUNCIONA */

.blocos_quebra_linha {
    display: flex;
    gap: 30px;
    margin: 60px 0px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.titulo-quebra-sessao
{
    margin-top: 60px;
    font-size: 40px;
    margin-bottom: 30px;
    color: aliceblue;
}

.blocos_quebra_linha
{
    display: flex;
    gap: 30px;
    margin: 60px 0px;
    width: 100%;
}

.titulo-quebra-sessao
{
    margin-top: 60px;
    font-size: 40px;
    margin-bottom: 30px;
    color: aliceblue;
}

.textos-principais-calc
{
    display: flex;
    flex-direction: column;
}

.paragrafo_calc
{
    font-size: 20px;
    width: 100%;
}

.titulo_calc {
    font-size: 40px;
    margin: 0;
    margin-bottom: 30px;
}

.calculadora_financeira
{
    display: flex;
    flex-direction: row;
    background-color: teal;
    border-radius: 20px;
    width: 100%;
    justify-content: space-between;
    gap: 50px;
    margin-top: 60px;
}

.bloco3
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;

}

.textos-calc
{
    padding: 50px;
    width: 50%;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.inputs_calc
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.img_calc
{
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    background-image: url(imgs/calculadora.jpeg);
    width: 50%;
}

input {
    border-style: none;
    border-radius: 20px;
    padding: 10px 10px;
    width: 100%;
    background-color: azure;
    font-size: 16px; 
}

.botao_calc {
    border-radius: 20px;
    border-style: none;
    width: 100%;
    padding: 10px 0px;
    font-weight: bold;
    font-size: medium;
    background-color: #0cb6ae;
    color: aliceblue; transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.input-texto
{
    margin-top: 20px;
}

.botao_calc:hover
{
    background-color: rgb(5, 172, 172);
    transform: scale(1.1);
}

.paragrafo-quebra-sessao
{
    width: 80%;
    font-size: 20px;
    color: aliceblue;
}
/* CONTATO */
.contato {
    background-color: rgb(98, 173, 178);
    padding: 80px;
}

.titulo {
    font-size: 40px;    
}

span {
    color: teal; 
}

.links {
    display: flex;
    gap: 50px;
}

.itembar {
    text-decoration: none;
    color: black;    
}

.botao {
    border-radius: 10px;
    border: 0px;
    background-color: rgb(7, 109, 109);
    padding: 10px 20px;
    color: white;
    font-weight: bold;
}

.Contato {
    font-size: 35px;
    font-weight: bold;
}

.tudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-principal {
    display: flex;
    background-color: #008080;
    border-radius: 15px;
    justify-content: center;
    flex-direction: row;
    padding: 50px;
    align-items: center;
}

.container-principal .contato_agora {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.textos {
    display: flex;
    flex-direction: column;
}

.comece {
    color: rgb(237, 237, 237);
}

.inputs {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.input {
    padding: 10px;
    border-radius: 10px;
    border: none;    
}

.botao_contato {
    background-color: rgb(2, 60, 60);
    border: none;
    color: white;
    font-weight: bolder;
    padding: 10px;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 10px;
}

.input_mensagem {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    border: none;
    height: 100px;        
}

.tudo img{
    width: 350px;
    border-radius: 20px;
}

.pitch{
    text-align: center;
    color: white;
    font-weight: bold;
}
/* FIM DE CONTATO */
/* RODAPÉ */
.rodape
{
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    border-top: 2px solid rgb(0, 0, 0, 0.2);
    align-items: center;
}

.rodape_items
{
    display: flex;
    gap: 30px;
    width: 50%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.direitos-autorais
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    color: rgb(0, 0, 0, 0.6);
}

.icons-rodape
{
    gap: 30px;
}

.icone
{
    width: 50px;
    height: 100%;
    font-size: 25px;
}
/* FIM DO RODAPÉ */


/* BOX 6 */
.bloco6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}
.bloco6 .sobrenos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #008080

}
.sobrenos img{
    width: 40%;
    height: auto;
    border-radius: 0px 20px 20px 0px;
}
.sobrenos .texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.sobrenos .texto h1{
    font: 400 52px 'Belanosima', sans-serif;
    margin-bottom: 20px;
    color: #ffffff;
}
.sobrenos .texto p{
    font: 400 20px 'Poppins', sans-serif;
    margin-bottom: 20px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background-color: 0;
    text-align: center  ;
    width: 60%;
}

.bloco6 .boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.bloco6 .box{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: #008080 solid 10px;
    border-left:  #008080 solid 20px;
    width: 200px;
    height: 200px;
    padding: 5px;
    justify-content: center;
}
.bloco6 .box h4 {
    font: 500 20px 'Belanosima', sans-serif;
    margin: 20px;
    color: #008080;
    text-align: center;
}
.bloco6 .box p {
    font: 400 16px poppins, sans-serif;
    margin-bottom: 20px;
    font-weight: 400;
    color: rgb(46, 45, 45);
    text-align: center;
}
.time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.heads{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 1000px;

}

.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
   
    }
.head img{
    width: 200px;
    height: 200px;
    border: solid 2px rgb(0, 0, 0, 0.2);
    border-radius: 50%;
    object-fit: cover;

}
.head img:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}
.resultado {
   width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    margin: 30px;
    flex-direction: column;
}

.resultado h1 {
    font-size: 28px;
    color: #008080;
    margin: 0;
    font-weight: bold;
}
.resultado p {
    font-size: 20px;
    color: #333;
    margin-top: 10px;
    text-align: center;
}
.resultado span {
    font-weight: bold;
    color: #008080;
}
.resultado #disclaimer{
    font-size: 8px;
    color: #666;
    margin-top: 10px;
    text-align: center;
}